.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}



.contentwrapper {margin: 0 auto;
  text-align: center;
  max-width: 80%
}

header ul {display: inline-block; float: right;}
header li {float: left;
list-style: none;
padding: 0 20px 0 20px;}

header {padding-bottom: 50px;}

#A { box-sizing: border-box;
  background-color: purple;
  width: 5px;
  height: 5px;
  text-align: center;
  line-height: 10px;
  vertical-align: middle;
  padding: 13px 13px 13px 13px;
  border-radius:100px;
  color: white;




}
